* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    background-color: #100c30;
    font-family: 'Syne Mono', monospace;
    color: #fffb7e;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.btn {
    background-color: grey;
    color: white;
    padding: 10px 15px;
    border: none;
    transition: all .4s;
}

.btn:hover {
    background-color: #c62a88;
}

/* header */

header.header-container {
    margin: 0 auto;
    padding: 0;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img.hero-img {
    margin: 0 auto;
    padding: 0;
    max-width: 50rem;
    max-height: 50rem;
    object-fit: contain;
}

div.header-text-container {
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-size: 7rem;
    color: #c62a88;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 1.8rem;
    margin: 0;
}

/* main */

div.location-controller {
    display: flex;
    margin: 3rem auto;
    justify-content: space-between;
}

input.location {
    padding: 8.5px 14px;
}

div.map {
    width: 30%;
    height: 600px;
}

.location-table {
    padding: 10px;
    color: rgb(216, 216, 216);
    background-color: #c62a88;
    height: 60%;
    overflow: scroll;
}

ul.marked {
    list-style-type: none;
    font-size: 0.9rem;
    font-weight: bold;
}

.map-container {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: column;
}

div.weather {
    height: 40%;
    width: 30rem;
    color: rgb(65, 65, 65);
    background-color: rgb(228, 228, 228);
    font-size: 1.5rem;
}

.remove-btn {
    border: none;
    background-color: none;
}