* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    background-color: #090043;
    font-family: 'Syne Mono', monospace;
    color: #fffb7e;
}

header {
    margin: 4rem auto;
    display: flex;
    flex-direction: row-reverse;
}

img.hero-img {
    width: 60vw;
    height: 50vh;
    object-fit: contain;
}

.header-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 7rem;
    color: #c62a88;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 1.8rem;
    margin: 0;
}

.btn {
    background-color: grey;
    color: white;
}

.btn:hover {
    background-color: rgb(204, 204, 204);
}